@use '../../scss/' as *;

.movie_grid {
    margin-top: $header_height;
    margin: $header_height 0 2rem 0;

    .movie_grid_header {
        @include flex(unset, center);
        margin-bottom: 3rem;
    }

    &_list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        gap: 2rem;
    }
    
    .movid_grid_load_more {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
}
