@use '../../scss/'as *;

.movie_card {
    .movie_card_background {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 130%;
        border-radius: $border_radius;
        margin-bottom: 1rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: black;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: $border_radius;
        }

        .button_group {
            width: 100%;
            @include flex(unset, center);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%) scale(0);
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &>* {
                margin-right: 0.4rem;
            }

            .outline_btn,
            .btn {
                @include mobile {
                    padding: 0.6rem 1.5rem;
                }
            }
        }

        &:hover::before {
            opacity: 0.8;
        }

        &:hover .button_group {
            transform: translateY(-50%) scale(1);
        }

        .movie_card_icon {
            font-size: 1rem;
        }
    }
}