@use '../../scss/'as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);

    .modal_container {
        @include flex(center, center);
        height: 100vh;

        .modal_warper {
            min-width: 30rem;
            padding: 3rem 5rem 0 5rem;
            position: relative;
            background-color: white;
            color: black;
            border-radius: 10px;
            box-shadow: $box_shadow;
            animation: swipeDown 0.3s ease;
            overflow: hidden;

            @include mobile {
                min-width: 25rem;
                padding: 3rem 3rem 0 3rem;
            }

            .modal_content {
                animation: swipeFromRight 0.3s ease;
            }

            .modal_close {
                position: absolute;
                top: 1rem;
                right: 2rem;
                font-size: 1.2rem;
                cursor: pointer;

                &:hover {
                    color: $body_background;
                }
            }

            .modal_back {
                position: absolute;
                top: 1rem;
                left: 1.2rem;
                font-size: 1.2rem;
                cursor: pointer;

                &:hover {
                    color: $body_background;
                }
            }

            .modal_header {
                text-align: center;
            }

            .modal_body {
                margin-top: 2rem;

                .modal_form {
                    &_group {
                        margin-top: 2rem;
                        background-color: white;
                        box-shadow: -1px 2px 10rem -2px $body_background;
                        padding: 0.5rem 1rem;
                        border-radius: $border_radius;
                        display: flex;

                        .modal_form_group_icon {
                            transform: translateY(15%);
                            color: #cdcdcd;
                        }

                        input {
                            flex: 1;
                            margin-left: 1rem;
                            background-color: rgba(255, 255, 255, 0);
                        }
                    }

                    .modal_form_forget {
                        margin-top: 1rem;
                        text-align: right;
                        cursor: pointer;

                        &:hover {
                            color: $main_color;
                        }
                    }
                }
            }

            .forget_modal_body {
                padding-bottom: 3rem;
                color: #a5a5a5;

                .modal_form {
                    &_group {
                        margin-top: 0.2rem;
                    }
                }
            }

            // .modal_form_submit {
            //     margin-top: 1rem;
            //     text-align: center;

            //     button {
            //         padding: 0.6rem 4rem;
            //     }
            // }

            .modal_footer {
                @include flex(unset, unset);
                margin-top: 3rem;
                margin-left: -5rem;
                margin-right: -5rem;

                .modal_footer_section {
                    flex: 1;
                    text-align: center;
                    padding: 0.5rem 0;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .modal_footer_login {
                    background-color: #cdcdcd;
                }

                .modal_footer_register {
                    background-color: $body_background;
                    color: white;
                }
            }
        }
    }
}

@keyframes swipeDown {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swipeFromRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}