@use './scss/' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: 100%;

    @include mobile {
        font-size: 60%;
    }

    @include tablet {
        font-size: 80%;
    }
}

body {
    font-family: $font_family;
    font-weight: 400;
    line-height: 1.5;

    background-color: $body_background;
    color: $text_color;

    @include mobile {
        margin-bottom: $header_shrink_height;
    }
}

a {
    text-decoration: none;
    color: unset;
}


@media (hover: hover) {
    a:hover {
        color: $main_color;
    }

    button:hover {
        cursor: pointer;
    }
}

button,input {
    @include tablet {
        font-size: 80%;
    }

    @include mobile {
        font-size: 45%;
    }
}

button, input {
    font-family: $font_family;
    outline: 0;
    border: 0;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

iframe {
    border: 0;
}

.container {
    max-width: 1660px;
    margin: auto;
}

.section {
    padding: 0 2rem;
}

.section_header {
    @include flex(center, space-between);
}

//scroll bar
::-webkit-scrollbar {
    width: 2px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: $main_color;
}
