$body_background: #1f2326;
$main_color: #f75857;
$text_color: #fff;
$active_color: #42b769;

$box_shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

$header_height: 8rem;
$header_shrink_height: 5rem;
$border_radius: 30px;

//breakpoint
$mobile_width: 600px;
$tablet_width: 1024px;

$font_family: 'Montserrat', sans-serif;