$body_background: #0f0f0f;
$main_color: #ff0000;
$text_color: #fff;

$box_shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

$header_height: 8rem;
$header_shrink_height: 5rem;
$border_radius: 30px;

//breakpoint
$mobile_width: 600px;
$tablet_width: 1024px;

$font_family: 'Montserrat', sans-serif;