$body_background: #003545;
$header_background: #00454A;
$main_color: #ED6363;
$text_color: #fff;

$box_shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

$header_height: 8rem;
$header_shrink_height: 4rem;
$border_radius: 30px;

//breakpoint
$mobile_width: 600px;
$tablet_width: 1024px;

$font_family: 'Montserrat', sans-serif;